{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <!-- Link to the CSS file -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/hotel.css' %}">
</head>
<body>
    <h1><center>Register</center></h1>
    <form method="post">
        {% csrf_token %}
        {{ user_form.as_p }}
        <label for="id_origin">Where are you from?</label>
        <select name="origin" id="id_origin">
            <option value="african">Africa</option>
            <option value="american">America</option>
            <option value="european">Europe</option>
            <option value="arabic">Arab</option>
        </select>
        {{ profile_form.as_p }}
        {% if profile_form.errors %}
            <div class="error">
                {{ profile_form.errors }}
            </div>
        {% endif %}
        <button type="submit">Register</button>
    </form>
    <p>Already have an account? <a href="{% url 'login' %}">Login here</a></p>
</body>
</html>